<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.tech.verificareolx" >

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".Olx_Splashscreen_Activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Olx_MenuUtama_WP"
            android:theme="@style/ToolBarFullscreenStyle"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Olx_Login_Activity"
            android:theme="@style/ToolBarStyle"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="id.tech.verificareolx.Olx_UpdateBranding_Activity"
            android:theme="@style/ToolBarStyle"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="id.tech.verificareolx.Olx_DataOutlet_Activity"
            android:theme="@style/ToolBarStyle"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="id.tech.verificareolx.Olx_Activity_Gallery"
            android:theme="@style/ToolBarStyle"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="id.tech.verificareolx.HistoryNotification_Activity"
            android:theme="@style/ToolBarStyle"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="id.tech.verificareolx.History_Activity"
            android:theme="@style/ToolBarStyle"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="id.tech.verificareolx.Olx_History_Activity"
            android:theme="@style/ToolBarStyle"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="id.tech.verificareolx.Olx_Activity_History_TabSlider"
            android:theme="@style/ToolBarStyle"
            android:screenOrientation="portrait"></activity>


        <activity
            android:name=".Olx_DialogNamaOutlet"
            android:theme="@style/MyActivityDialogTheme"></activity>

        <activity
            android:name="id.tech.verificareolx.Olx_DialogDetailHistory"
            android:theme="@style/MyActivityDialogTheme"></activity>

        <activity
            android:name=".Olx_UploadImageDialog"
            android:theme="@style/MyActivityDialogTheme"></activity>
        <activity
            android:name=".Olx_DialogAbsen"
            android:theme="@style/MyActivityDialogTheme"></activity>


        <activity
            android:name="id.tech.verificareolx.Notif_Detail_Activity"
            android:theme="@style/DialogTheme"></activity>

        <service android:name="id.tech.verificareolx.Notif_Service" android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <receiver android:name="id.tech.verificareolx.BootCompletedReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <receiver android:name="id.tech.verificareolx.NotifBroadcastReceiver" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name="id.tech.verificareolx.NotifBroadcastReceiver_Vericare" android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="gcm.play.android.samples.com.gcmquickstart" />
            </intent-filter>
        </receiver>


        <activity android:name="id.tech.verificareolx.Verificare_Notif_Activity"
            android:theme="@style/AppTheme_GCM"
            android:screenOrientation="portrait"></activity>

        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="gcm.play.android.samples.com.gcmquickstart" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->


        <!-- [START gcm_listener] -->
        <service
            android:name="id.tech.verificareolx.Verificare_MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->

        <service
            android:name="id.tech.verificareolx.Verificare_MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <service
            android:name="id.tech.verificareolx.Verificare_RegistrationIntentService"
            android:exported="false">
        </service>
    </application>

</manifest>
